body {
    margin: 0;
    padding: 0;
    background-color: #dfe6e9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/*PARTES MODIFICADAS*/

#video_gif {
    width: 100%;
    margin-top: 0.3%;
}

#home {
    background-color: #102842;
}

#divPreta {
    background-color: #060E17;
    color: white;
    width: 100%;
    margin-top: -1%;
    margin-left: 0%;
    height: 60%;
    z-index: 2;
}

#divBranca .bloco1 p {
    width: 85%;
    text-align: center;
}

#divBranca .bloco2 p {
    width: 85%;
}

#divBranca .bloco3 p {
    width: 85%;
}

#divPreta img {
    z-index: 3;
    width: 30%;
    margin-top: 3%;
    position: absolute;
}


/*BLOCOS BRANCOS*/

#caixas {
    width: 100%;
}

.bloco1 {
    background-color: white;
    width: 25%;
    height: 70%;
    margin-left: 8%;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.bloco2 {
    background-color: white;
    width: 25%;
    height: 70%;
    margin-left: 6%;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}


.bloco3 {
    background-color: white;
    width: 25%;
    height: 70%;
    margin-left: 6%;
    margin-right: 8%;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.div_teto {
    background-color: #060E17;
    color: white;
    width: 100%;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.div_teto h2 {
    margin: 0;
    padding: 7%;
    text-align: center;
}

#divBranca {
    background-color: #dfe6e9;
    display: inline-flex;
    color: black;
    width: 100%;
    margin-top: -1%;
    padding-top: 1px;
    margin-left: 0%;
    height: 60%;
    z-index: 2;
}

#divBranca2 {
    background-color: #dfe6e9;
    display: inline-flex;
    color: black;
    width: 100%;
    margin-top: -8%;
    padding-top: 1px;
    margin-left: 0%;
    height: 60%;
    z-index: 2;
}


/****************/


/*SEGUNDA DIVISORIA*/

.divPassos{
    background-color: #dfe6e9;
    display: inline-flex;
    color: black;
    width: 100%;
    margin-top: -8%;
    padding-top: 1px;
    margin-left: 0%;
    height: 60%;
    z-index: 2;
}

.div_func {
    background-color: white;
    width: 84%;
    height: 60%;
    margin-top: 0%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.div_sobre {
    background-color: white;
    width: 84%;
    height: 165%;
    margin-top: 0%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.img_icon {
    width: 10%;
}

#img_apoio {
    margin-left: 3%;
    margin-right: 1%;
    margin-top: 5%;
    float: left;
}

#img_analise {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
    float: left;
}

#img_suporte {
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 5%;
    float: left;
}

.txt {
    float: left;
    width: 20%;
    margin: 6% 0% 0% 0%;
}


/*DIV SOBRE*/

#div_sobre {
    background-color: white;
    width: 100%;
    height: 20%;
}

.div_teto2 {
    background-color: #102842;
    color: white;
    width: 100%;
    height: 2%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.div_sobre h2 {
    float: right;
    color: #102842;
    margin-top: 5%;
    margin-right: 7%;
    text-align: -webkit-right;
    font-size: 4rem;
}

.div_sobre p {
    width: 31%;
    margin-top: 0%;
    margin-left: 32%;
    margin-right: 6.5%;
    text-align: -webkit-right;
    float: right;
}

.div_sobre h2 span {
    color: #ef441d;
    font-size: 4rem;
}

#img_Computer {
    width: 39%;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}

#spSV {
    color: #ef441d;
}

#spDS {
    color: #6c63ff;
}


/*DIV PRINCIPIOS DA EMPRESA*/

.div_principios {
    background-color: white;
    width: 100%;
    display: flex;
    height: 34%;
    border-radius: 0px 0px 10px 10px;
    margin-top: 37%;
}

.bloco_um {
    background-color: white;
    width: 25%;
    height: 49%;
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.bloco_dois {
    background-color: white;
    width: 25%;
    height: 49%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.bloco_tres {
    background-color: white;
    width: 25%;
    height: 49%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px 1px #29292946;
}

.div_principios h6 {
    font-size: 1rem;
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 6%;
    font-weight: 600;
}

.div_principios p {
    float: right;
    width: 95%;
    margin-top: 3%;
}

.imgIconsValores {
    width: 12%;
    margin-top: -4%;
    margin-right: -4%;
    float: right;
}


/*FOOTER*/

#footer {
    background-color: #060E17;
    color: white;
    width: 100%;
    margin-left: 0%;
    margin-top: 22%;
    height: 20%;
    z-index: 2;
    padding-top: 4%;
    text-align: center;
}

#footer img {
    width: 4%;
    /* padding-top: 3%; */
    /* padding-left: 42%; */
    /* padding-bottom: 4%; */
}

.pDivs {
    float: left;
    width: 20%;
    margin: 6% 8% 0% 9%;
}

.card p span {
    color: #ef441d;
    font-size: 24px;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#footer h5 {
    font-weight: lighter;
    margin: 0;
    font-size: 11px;
    padding-top: 4.5%;
}




/*RESPONSIVIDADE máximo de 600px*/
@media  (max-width: 600px){

    #divPreta {
        background-color: #060E17;
        color: white;
        width: 113%;
        margin-top: -4%;
        margin-left: 0%;
        height: 60%;
        z-index: 2;
    }

    #divPreta img {
        z-index: 3;
        width: 70%;
        margin-left: 15%;
        margin-top: 5%;
    }

    .pDivs {
        float: left;
        width: 100vw;
        font-size: 15px;
        text-align: center;
        margin: 53% 8% 0% 0%
    }

    .left_area h3 {
        color: #fff;
        margin-top: 1px;
        margin-left: -1%;
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 900;
    }

    
    .bloco1 {
        background-color: white;
        width: 84%;
        height: 70%;
        margin-left: 8%;
        margin-top: 9%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    .div_bloco{
        float: left;
        width: 20%;
        margin: 6% 8% 0% 7%;  
    }

    #divBranca {
        background-color: #dfe6e9;
        display: block;
        color: black;
        width: 100%;
        margin-top: -2%;
        padding-top: 1px;
        margin-left: 0%;
        height: 60%;
        z-index: 2;
    }

    .divPassos {
        background-color: #060E17;
        display: inline-flex;
        color: black;
        width: 100%;
        margin-top: 27%;
        padding-top: 1px;
        margin-left: 0%;
        height: 173%;
        z-index: 2;
    }

    .div_func {    
        background-color: white;
        width: 84%;
        height: 85%;
        margin-top: 21%;
        margin-left: 8%;
        margin-right: 8%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    .txt {
        float: left;
        padding-left: 43px;
        width: 68%;
        text-align: justify;
        margin: 10% 0% 6% 0%;
    }

    #divBranca2 {
        background-color: #dfe6e9;
        display: inline-flex;
        color: black;
        width: 100%;
        margin-top: 180%;
        padding-top: 1px;
        margin-left: 0%;
        height: 60%;
        z-index: 2;
    }

    .img_icon {
        width: 23%;
    }

    #img_apoio {
        margin-left: 42%;
        margin-top: 17%;
        float: left;
    }

    #img_analise {
        margin-left: 37%;
        margin-top: 5%;
        float: left;
        width: 27%;
    }

    #img_suporte {
        margin-left: 38%;
        margin-top: 5%;
        float: left;
    }

    #etapas{
        color: #060E17;
        background-color: white;
        height: 8%;
    }

    .div_sobre {
        background-color: white;
        width: 84%;
        height: 170%;
        margin-top: -160%;
        margin-left: 8%;
        margin-right: 8%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    #img_Computer {
        width: 83%;
        position: absolute;
        margin-top: 5%;
        margin-left: 0%;
    }

    .div_sobre h2 {
        float: right;
        color: #102842;
        margin-top: 65%;
        margin-right: 7%;
        text-align: -webkit-right;
        font-size: 2rem;
    }

    .div_sobre h2 span {
        color: #ef441d;
        font-size: 2rem;
    }

    .div_sobre p {
        width: 70%;
        margin-top: 2%;
        margin-left: 9.5%;
        text-align: inherit;
        float: left;
    }
    
    .div_principios {
        background-color: white;
        width: 100%;
        display: block;
        height: 80%;
        border-radius: 10px 10px 10px 10px;
        margin-top: 270%;
        padding-top: 0%;
    }

    .bloco_um {
        background-color: white;
        width: 84%;
        height: 20%;
        margin-left: 8%;
        margin-top: 18%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    .bloco_dois {
        background-color: white;
        width: 84%;
        height: 20%;
        margin-left: 8%;
        margin-top: 20%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    .bloco_tres {
        background-color: white;
        width: 84%;
        height: 20%;
        margin-left: 8%;
        margin-top: 20%;
        border-radius: 10px;
        box-shadow: 6px 6px 10px 1px #29292946;
    }

    #footer {
        background-color: #060E17;
        color: white;
        width: 100%;
        margin-left: 0%;
        margin-top: 145%;
        height: 20%;
        z-index: 2;
        padding-top: 4%;
        text-align: center;
    }

    .div_sobre p {
        width: 80%;
        margin-top: 0%;
        margin-left: 8.5%;
        text-align: inherit;
        float: left;
    }

    #footer h5 {
        font-weight: lighter;
        margin: 0;
        font-size: 11px;
        padding-top: 24.5%;
    }

    #footer img {
        width: 15%;
        margin-top: 6%;
        margin-bottom: -17%;
    }

}

/*RESPONSIVIDADE mínimo de 1024px*/

@media (min-width: 1024px){

    #divPreta {
        background-color: #060E17;
        color: white;
        width: 100%;
        margin-top: -1%;
        margin-left: 0%;
        height: 60%;
        z-index: 2;
    }

    #divPreta img {
        z-index: 3;
        width: 30%;
        margin-top: 3%;
        position: absolute;
    }

    .pDivs {
        float: left;
        width: 20%;
        margin: 6% 8% 0% 9%;
    }

}
